<span id="notice"><%= notice %></span>

   



<div class="banner">
  <div class="overbanner">
  <ul>
<li>What we do?</li>
<li>What we are thinking about?</li>
<li>Answers for this questions and another you can find here.</li>
  </ul>
  </div>
</div>


<div class="postsArea" ng-repeat="p in posts | filter:query"> 
  <div class="article">
  <div class="title">{{p.title}}</div>
  <div class="text">{{p.text}}</div>
  </div>
</div>
