/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
 body,html {
 	padding: 0;
 	margin: 0;
 	font-family: 'Open Sans', sans-serif;

 }
.header {
	padding: 0;
	margin: 0;

	background-color:#433e3b;
}
.header ul {
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 0;
}
.header ul li{
	list-style: none;
	padding: 10px;
	display: inline-block;
}
.postsArea {
	display: flex;
	background: linear-gradient(to right, #35312f ,#433e3b );
	justify-content: center;
	padding: 0% 5%;
}
.title {
	font-size: 2rem;
	padding: 15px;
	font-weight: 700;
}
.text {
	padding: 15px;
	font-size: 1.1rem;
	letter-spacing: 0.12rem;
}
.article {
	background: linear-gradient(to top right, #433e3b ,#55514e );
	color: white;
	padding: 15px;
	margin: 10px 0px;
	width: 100%;
}
.overBlog  {
	text-align: center;
	font-size: 3rem;
}
.overBlog  span {
	color: #d0364b;
}

.banner {
	padding:  0% 5%;
	color: #433e3b;
	background: #7c202d;
} 
.overbanner {
	background: linear-gradient(to right, #d0364b , #d95e6e );
	padding: 7% 5% 5% 0%;
}
.banner ul li{
	color: white;
	list-style: none;
	font-size: 2.35rem;
	padding: 6px 15px;
	font-weight: 400;

}
.banner ul{
padding: 15px;
}

footer {
padding:  0% 5%;
color: #433e3b;
background: linear-gradient(to top right, #433e3b ,#55514e );
text-align: center;
color: white;
}

.overfooter {
	padding: 2% 5% 2% 5%;
}